.navbar{
    margin-bottom: 0px;
    border-radius: 5px;
    background: #b9cdd6;    
} 
.navbar .nav > li > a{
    color: #ffffff;    
}
.navbar .nav >li >a:visited{
    color: rgb(255, 253, 253);
    background-color: #3f3f3f;
}
.navbar .nav > li > a:hover {
    color: rgb(255, 255, 255);
    background-color: #3a3a3a;
}
.navbar .nav >li >a:active{
    color: rgb(255, 255, 255);
    background-color: #222222;
}