{% load staticfiles %}
{% load pagetag %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
</head>
	
<body>
	<div class="banner">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="{% url 'myapp:index'%}" style="font-family:'黑体'">PY<span>T</span>HO<span>N</span>爬<span>虫</span>期末</a></h1>
				</div>
							  
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					    <ul class="nav navbar-nav">
          							  <li class="active"><a href="{% url 'myapp:index'%}">Home</a></li>           															
								<li><a class="active" href="{% url 'myapp:first' 1 %}">音乐TOP250</a></li> 								
								<li><a href="{% url 'myapp:second' 1 %}">Colourpop</a></li> 
                                
         						 </ul>
       						 </div>
						 </nav>	   
				
				</div>
				<div class="clearfix"></div>
			
			<div class="w3l_banner_info">
				<div class="slider">
					<div class="callbacks_container" style="font-family:'黑体'">
						<ul class="rslides" id="slider3">
							<li>
								<div class="w3l_banner_info" >
									 <h4>12306</h4>
									<p>自动登录</p>								
								</div>
							</li>
							<li>
								<div class="w3l_banner_info">
									<h4>静态爬虫</h4>
									<p>豆瓣音乐TOP250爬虫</p>									
								</div>
							</li>
							<li>
								<div class="w3l_banner_info">
									 <h4>动态爬虫</h4>
									<p>COLOURPOP眼影盘爬虫</p>									
								</div>
							</li>
						</ul>
					</div>
				</div>				
						</div>			
					</div>
<!-- <div class="content-bottom">
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                   <img src="{% static 'images/g1.jpg'%}" alt="" class="img-responsive">
               </div>
                <div class="text-desc">
                    <h6>12306自动登录</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                </div>
           </div>
         </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="{% static 'images/g2.jpg'%}" alt="" class="img-responsive">
                </div>
				<div class="text-desc">
                    <h6>豆瓣静态爬虫</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>	
                </div>
            </div>
        </div>
		<div class="content-in">
            <div class="port effect-1">
                <div class="image-box">
                    <img src="{% static 'images/g3.jpg'%}" alt="" class="img-responsive">
                </div>
				<div class="text-desc">
					<h6>Colourpop动态爬虫</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>   	
				</div>
			</div>
        </div> -->
        <div class="clearfix"> </div>
</div>
   <div class="contact-main-agile-info" id="contact"> 
  </div>
	<div class="w3l-footer">
<div class="copyright-wthree">
    <p>16计算机科学与技术三班&nbsp;16219112208&nbsp;王宜家&nbsp;PYTHON爬虫期末作业</p>
	  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script>
					$('ul.nav li.dropdown').hover(function() {
 						 $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
							}, function() {
  								$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
							});
				</script>	
						<script src="{% static 'js/responsiveslides.min.js'%}"></script>
							<script>
								$(function () {
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
	<script>
								$(function () {
								  $("#slider4").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
	<script src="{% static 'js/bootstrap.js'%}"></script>
</body>
</html>