{% load staticfiles %}
{% load pagetag %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>期中作业</title>

<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/wyj.css'%}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#">王handsome</a></div>
    <div class="collapse navbar-collapse" id="defaultNavbar1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'myapp:first' 1 %}">First</a></li>
        <li class="active"><a href="{% url 'myapp:second' 1 %}">Second<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-info" style="text-align:center">京东手机</h1>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row text-center">
    <table class="table">
      <thead class="thead-dark">
          <tr class="bg-primary">
              <th scope="col" style="text-align:center">id</th>
              <th scope="col" style="text-align:center">商品名</th>
              <th scope="col" style="text-align:center">价格</th>
          </tr>
      </thead>
      {% for i in page %}
      <tr class="bg-success">
          <td scope="row">{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.price}}</td>
      </tr>
      {% endfor %}
  </table>
  </div>
  <div class="row text-center">
    <ul class="pagination">
      {% if page.has_previous %}
      <li class="page-item">
          <a href="/wyj/qizhong2/{{ page.previous_page_number }}" aria-label="Previous" class="page-link">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      {% endif %}
      {% for index in page.paginator.page_range %}
          {% circle_page page.number index %}
      {% endfor %}

      {% if page.has_next %}
      <li class="page-item">
          <a href="/wyj/qizhong2/{{ page.next_page_number }}" aria-label="Next" class="page-link">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
      {% endif %}
    </ul>
    </div>  
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
      <h4 class="text-info" style="text-align:center">王宜家 </h4>
      <p class="text-info" style="text-align:center">16219112208 16计算机三班</p>
    </div>
  </div>
  <hr>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
